<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mss.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <mss.Properties.Settings>
            <setting name="Recent1" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent2" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent3" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent4" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent5" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenLast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="State" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="SkipHeadings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlagDanger" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="smode" serializeAs="String">
                <value>0</value>
            </setting>
        </mss.Properties.Settings>
    </userSettings>
</configuration>